__pycache__/
*.pyc

downloaded_results/
results/

.env
.venv/
venv/

.aws/

*.zip
*.log

.DS_Store
Thumbs.db

aws/
deploy.ps1
deploy_lambda.ps1
deploy_old.ps1
hades/
test2/
test3/